<div class="w-screen h-screen flex relative">
  <div class="w-1/6 h-full ">
    <div class="fixed">
      <app-side-bar></app-side-bar>
    </div>
  </div>

  <div class="absolute w-full flex justify-end">
    <div class="fixed px-4 py-4">
      <img src="assets/Melius-TBP_Logo_Simple.svg" alt="melius_logo" class="max-w-32 max-h-32 min-w-16 min-h-16">
    </div>
  </div>

  <div class="w-5/6 h-full overflow-hidden">
    <div class="p-10 h-1/4 flex space-x-10 animate-fade-down">
      <img src="../../../assets/icons/no-profile-icon.svg" alt="no_profile_img" class="w-56 h-56">

      <div class="h-full items-center grid ">
        <div class="space-y-2">
          <h1 class="text-6xl font-bold">Willkommen zurück!</h1>
          <h1 class="text-5xl">Jakob Schlager</h1>
        </div>
        <!--<h1>{{registrationLoginService.loggedInUser?.firstName}} {{registrationLoginService.loggedInUser?.lastName}}</h1>-->
      </div>
    </div>


    <div class="h-full flex flex-col space-y-20">

      <div class="w-full h-fit animate-fade-up-slower">
        <hr class="w-5/6">
        <div class="">
          <app-home-navbar></app-home-navbar>
        </div>
      </div>

      <div class="w-5/6 h-2/5 flex justify-around space-x-4 p-6 columns-3">

        <div class="w-full flex flex-col justify-center bg-white shadow-custom-shadow border-4 border-primary-color rounded-lg animate-in fade-in zoom-in duration-500 hover:-translate-y-2 transition-duration-150">
          <div class="py-4 flex justify-center">
            <img ngSrc="assets/icons/home-page/profile.svg" alt="home_cv_icon" class="w-60 h-60 " height="16"
                 width="16">
          </div>
          <div class="">
            <h1 class="text-center text-2xl font-bold">Stell dich vor</h1>
          </div>
        </div>

        <div class="w-full flex flex-col justify-center bg-white shadow-custom-shadow border-4 border-intermediate-color rounded-lg animate-in fade-in zoom-in duration-700 hover:-translate-y-2 transition-duration-150">
          <div class="py-4 flex justify-center">
            <img ngSrc="assets/icons/home-page/projects.svg" alt="home_cv_icon" class="w-60 h-60 " height="16"
                 width="16">
          </div>

          <div>
            <h1 class="text-center text-2xl font-bold ">Sei stolz auf deine Projekte</h1>
          </div>
        </div>

        <div class="w-full flex flex-col justify-center bg-white shadow-custom-shadow border-4 border-secondary-color rounded-lg animate-in fade-in zoom-in duration-1000 hover:-translate-y-2 transition-duration-150">
          <div class="py-4 flex justify-center">
            <img ngSrc="assets/icons/home-page/skills.svg" alt="home_cv_icon" class="w-60 h-60 " height="16" width="16">
          </div>

          <div class="">
            <h1 class="text-center text-2xl font-bold ">Zeig was du drauf hast</h1>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
