<div class="w-fit space-y-2">
  <button (click)="toggleList()" class="flex bg-white justify-between space-x-2 rounded-lg border-2 text-white px-2 py-1 items-center hover:bg-gray-100 ease-in-out duration-150">
    <h1 class="text-gray-400">Einstellungen</h1>
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#989898"><path d="M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z"/></svg>
  </button>

  <div  class="relative">
    <div *ngIf="isOpen || isAnimating" [ngClass]="{'animate-fade-down duration-150': isOpen, 'animate-out fade-out': !isOpen && isAnimating}" (animationend)="onAnimationEnd()" class="absolute w-full flex flex-col justify-between h-fit px-2 py-1.5 bg-white border rounded-lg shadow-md ">
      <div class="flex w-full  justify-between items-center px-1 py-2 bg-white rounded-lg text-start hover:bg-accent-blue ease-in-out duration-150">
        <h1 class="text-gray-400">Drag & Drop</h1>
        <label class="switch">
          <input type="checkbox" id="dadCheckbox" (change)="isDaDChecked($event)" [checked]="false">
          <span class="slider round"></span>
        </label>
      </div>
    </div>
  </div>
</div>
