<div class="relative w-full">
  <button (click)="toggleList()" class="flex mb-2 items-center font-semibold justify-between w-36 rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm text-gray-700 hover:bg-gray-100 duration-150 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    <h1 class="text-black text-">{{'home.settingsButton.title' | translate}}</h1>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="#000000" class="size-4">
      <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
    </svg>
  </button>

  <div *ngIf="isOpen || isAnimating" [ngClass]="{'animate-fade-down duration-150': isOpen, 'animate-out fade-out': !isOpen && isAnimating}" (animationend)="onAnimationEnd()" class="absolute z-50 right-0 w-fit flex flex-col justify-between rounded-md h-fit shadow-sm px-2 py-2 bg-white text-sm text-gray-700 hover:bg-gray-100 duration-150 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    <div class="flex space-x-2 justify-between items-center py-1 px-2 rounded-lg text-start">
      <h1 class="min-w-fit text-black">{{'home.settingsButton.dad' | translate}}</h1>
      <label class="switch">
        <input type="checkbox" id="dadCheckbox" (change)="isDaDChecked($event)" [checked]="false">
        <span class="slider round px-2"></span>
      </label>
    </div>
  </div>
</div>
