<div class="w-full h-full flex flex-col justify-center" *ngIf="groups != undefined">
  <div class="h-fit w-full pt-4 pb-6 px-2 bg-white shadow-lg rounded-lg">
    <div class="relative flex items-center pt-1 pb-4">
      <div class="w-full flex justify-center">
        <h1 class="w-fit text-3xl font-bold py-2">{{ 'groups.startPage.myGroups.boxTitle' | translate}}</h1>
      </div>

      <div class="w-full py-2 flex justify-end absolute -ml-2">
        <button class="w-fit" (click)="closeMyGroupsForm()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9ca3af" class="size-7">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>

    <!-- Search Bar for filtering User Groups -->
    <div class="w-full ml-4 h-fit flex justify-start mb-4">
      <div class="w-fit space-x-2 h-fit font-semibold bg-white px-1 py-0.5 shadow-md rounded-lg flex">
        <div class="px-1 py-2">
          <input class="rounded-md" placeholder="{{ 'groups.startPage.myGroups.searchBarSmall' | translate}}">
        </div>
        <button>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9ca3af" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
          </svg>
        </button>
      </div>
    </div>

    <!-- Main Content -->
    <div class="w-full h-full">
      @if (getAmountOfGroups() == 0) {
        <div class="py-24 space-y-4 text-center">
          <h1 class="font-semibold text-xl">{{ 'groups.startPage.myGroups.nothingFound' | translate}}</h1>
          <div class="w-full flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" height="64px" viewBox="0 -960 960 960" width="64px" fill="#000000"><path d="M640-600q8 0 14-6t6-14v-120q0-8-6-14t-14-6q-8 0-14 6t-6 14v120q0 8 6 14t14 6Zm0 80q8 0 14-6t6-14q0-8-6-14t-14-6q-8 0-14 6t-6 14q0 8 6 14t14 6ZM160-160q-17 0-28.5-11.5T120-200q0-17 11.5-28.5T160-240h400q17 0 28.5 11.5T600-200q0 17-11.5 28.5T560-160H160Zm480-280q-83 0-141.5-58.5T440-640q0-83 58.5-141.5T640-840q83 0 141.5 58.5T840-640q0 83-58.5 141.5T640-440Zm-480-40q-17 0-28.5-11.5T120-520q0-17 11.5-28.5T160-560h187q17 0 28.5 11.5T387-520q0 16-11.5 28T347-480H160Zm0 160q-17 0-28.5-11.5T120-360q0-17 11.5-28.5T160-400h317q17 0 28.5 11.5T517-360q0 16-11 28t-29 12H160Z"/></svg>
          </div>
        </div>
      } @else {
        <div class="grid grid-cols-5 items-center bg-accent-blue p-4 border-b-2 rounded-t-lg">
          <h1 class="min-w-fit flex justify-start">{{ 'groups.startPage.searchResultBox.name' | translate}}</h1>
          <h1 class="text-center">{{ 'groups.startPage.searchResultBox.comp' | translate}}</h1>
          <h1 class="text-center">{{ 'groups.startPage.searchResultBox.dept' | translate}}</h1>
          <h1 class="text-center">{{ 'groups.startPage.searchResultBox.maxMembers' | translate}}</h1>
        </div>
        <div class="dropdown-list min-h-64">
          <div *ngFor="let group of this.getProfileGroups()" class="rounded-lg mb-1 grid grid-cols-5 items-center text-gray-500 p-4 hover:bg-gray-50">
            <h1 class="min-w-fit flex justify-start">{{ group.name }}</h1>
            <h1 class="text-center">{{ group.company }}</h1>
            <h1 class="text-center">{{ group.department }}</h1>
            <h1 class="text-center">{{ group.members.length || 0 }} / {{group.maxMembers}}</h1>
            <div class="flex justify-center">
              <button routerLink="/groups/{{group.id}}" class="bg-white text-primary-color px-2 py-1 rounded-lg shadow-md hover:bg-primary-color hover:text-white duration-150">{{'groups.createdGroup.memberInfos.lookup' | translate}}</button>
            </div>
          </div>
        </div>

      }

    </div>
  </div>

</div>
