<div class="relative w-full">

  <!-- Filter Button -->
  <Button class="flex bg-white hover:bg-gray-50 hover:cursor-pointer duration-150 ease-in-out rounded-lg shadow-md px-4 py-2 space-x-2 items-center" (click)="toggleFilterMenu()">
    <h1 class="text-lg font-semibold">Filter</h1>

    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0d91fa" class="size-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z" />
    </svg>

  </Button>


  <!-- Filter Dropdown -->
  <div class="absolute right-0 mt-2 w-fit" *ngIf="isOpen || isAnimating" [ngClass]="{'animate-fade-down duration-150': isOpen, 'animate-out fade-out': !isOpen && isAnimating}" (animationend)="onAnimationEnd()">
    <div class="p-4 min-w-fit bg-white rounded-lg shadow-lg space-y-4">

      <!-- Filter date joined -->
      <div class="px-2">
        <h1 class="text-lg font-semibold">{{ 'groups.createdGroup.filterBtn.joined' | translate }}</h1>
        <div class="flex justify-between">
          <div class="flex flex-col">
            <h1 class="flex-1 text-sm font-semibold">{{ 'groups.createdGroup.filterBtn.from' | translate }}</h1>
            <input class="border-2 rounded-lg" type="date">
          </div>

          <div class="flex flex-col">
            <h1 class="flex-1 text-sm font-semibold">{{ 'groups.createdGroup.filterBtn.until' | translate }}</h1>
            <input class="border-2 rounded-lg" type="date">
          </div>
        </div>
      </div>


      <!-- Filter roles -->
      <div class="px-2">
        <h1 class="text-lg font-semibold">{{ 'groups.createdGroup.filterBtn.roles.title' | translate }}</h1>
        <div class="flex space-x-10">
          <input class="p-0.5 border-2 rounded-lg" type="text" placeholder="{{ 'groups.createdGroup.filterBtn.roles.placeholder' | translate }}">
        </div>
      </div>

      <!-- Filter Programming-Skill -->
      <div class="px-2 min-w-fit">
        <h1 class=" text-lg font-semibold">{{ 'groups.createdGroup.filterBtn.programming.title' | translate }}</h1>
        <div class="flex space-x-10">
          <input class="p-0.5 border-2 rounded-lg" type="text" placeholder="{{ 'groups.createdGroup.filterBtn.programming.placeholder' | translate }}">
        </div>
      </div>

      <!-- Filter EDV-Skill -->
      <div class="px-2">
        <h1 class="text-lg font-semibold">{{ 'groups.createdGroup.filterBtn.edv.title' | translate }}</h1>
        <div class="flex space-x-10">
          <input class="p-0.5 border-2 rounded-lg" type="text" placeholder="{{ 'groups.createdGroup.filterBtn.edv.placeholder' | translate }}">
        </div>
      </div>

      <!-- Submit -->
      <div class="px-2 flex justify-center">
        <button class="bg-intermediate-color text-white px-2.5 py-1 rounded-lg hover:bg-secondary-color duration-150 ease-in-out" (click)="filterMembers()">
          {{ 'groups.createdGroup.filterBtn.searchBtn' | translate }}
        </button>
      </div>

    </div>
  </div>
</div>
