<div class="relative w-full">

  <!-- Filter Button -->
  <Button class="flex bg-white hover:bg-gray-50 hover:cursor-pointer duration-150 ease-in-out rounded-lg shadow-md px-4 py-2 space-x-2 items-center" (click)="toggleFilterMenu()">
    <h1 class="text-lg font-semibold">Filter</h1>

    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#0d91fa"><path d="M440-240q-17 0-28.5-11.5T400-280q0-17 11.5-28.5T440-320h80q17 0 28.5 11.5T560-280q0 17-11.5 28.5T520-240h-80ZM280-440q-17 0-28.5-11.5T240-480q0-17 11.5-28.5T280-520h400q17 0 28.5 11.5T720-480q0 17-11.5 28.5T680-440H280ZM160-640q-17 0-28.5-11.5T120-680q0-17 11.5-28.5T160-720h640q17 0 28.5 11.5T840-680q0 17-11.5 28.5T800-640H160Z"/></svg>
  </Button>


  <!-- Filter Dropdown -->
  <div class="absolute right-0 mt-2 w-fit" *ngIf="isOpen || isAnimating" [ngClass]="{'animate-fade-down duration-150': isOpen, 'animate-out fade-out': !isOpen && isAnimating}" (animationend)="onAnimationEnd()">
    <div class="p-4 min-w-fit bg-white rounded-lg shadow-lg space-y-4">

      <!-- Filter date joined -->
      <div class="px-2">
        <h1 class="text-lg font-semibold">{{ 'groups.createdGroup.filterBtn.joined' | translate }}</h1>
        <div class="flex justify-between">
          <div class="flex flex-col">
            <h1 class="flex-1 text-sm font-semibold">{{ 'groups.createdGroup.filterBtn.from' | translate }}</h1>
            <input class="border-2 rounded-lg" type="date">
          </div>

          <div class="flex flex-col">
            <h1 class="flex-1 text-sm font-semibold">{{ 'groups.createdGroup.filterBtn.until' | translate }}</h1>
            <input class="border-2 rounded-lg" type="date">
          </div>
        </div>
      </div>


      <!-- Filter roles -->
      <div class="px-2">
        <h1 class="text-lg font-semibold">{{ 'groups.createdGroup.filterBtn.roles.title' | translate }}</h1>
        <div class="flex space-x-10">
          <input class="p-0.5 border-2 rounded-lg" type="text" placeholder="{{ 'groups.createdGroup.filterBtn.roles.placeholder' | translate }}">
        </div>
      </div>

      <!-- Filter Programming-Skill -->
      <div class="px-2 min-w-fit">
        <h1 class=" text-lg font-semibold">{{ 'groups.createdGroup.filterBtn.programming.title' | translate }}</h1>
        <div class="flex space-x-10">
          <input class="p-0.5 border-2 rounded-lg" type="text" placeholder="{{ 'groups.createdGroup.filterBtn.programming.placeholder' | translate }}">
        </div>
      </div>

      <!-- Filter EDV-Skill -->
      <div class="px-2">
        <h1 class="text-lg font-semibold">{{ 'groups.createdGroup.filterBtn.edv.title' | translate }}</h1>
        <div class="flex space-x-10">
          <input class="p-0.5 border-2 rounded-lg" type="text" placeholder="{{ 'groups.createdGroup.filterBtn.edv.placeholder' | translate }}">
        </div>
      </div>

      <!-- Submit -->
      <div class="px-2 flex justify-center">
        <button class="bg-intermediate-color text-white px-2.5 py-1 rounded-lg hover:bg-secondary-color duration-150 ease-in-out" (click)="filterMembers()">
          {{ 'groups.createdGroup.filterBtn.searchBtn' | translate }}
        </button>
      </div>

    </div>
  </div>
</div>
