<div class="w-screen h-screen">

  <div class="absolute -z-10 w-screen h-screen overflow-hidden bg-no-repeat object-fill">
    <img src="../../../assets/Radio_Waves_SP.svg" alt="radio_waves" class="w-full h-full">
  </div>

  <div class="w-full h-full text-center items-center flex justify-evenly">
    <div class="w-full animate-fade-up-slower space-y-10 flex flex-col">
      <div>
        <h1 class="text-9xl font-bold uppercase">Not Found</h1>
        <h1 class="text-9xl text-gray-200 font-bold uppercase">404</h1>
      </div>
      <div class="w-full">
        <button class="w-fit text-xl font-bold bg-primary-color text-accent-blue rounded-lg hover:bg-accent-blue hover:text-primary-color duration-150 ease-in-out px-4 py-2" [routerLink]="['']">Go Back!</button>
      </div>
    </div>

    <div class="w-full flex justify-center mt-10">
      <img src="./assets/Melius-TBP_Logo_Simple.svg" alt="melius-logo-not-found" class="xl:w-1/2 xl:h-1/2 md:w-1/2 md:h-1/2">
    </div>
  </div>

</div>
