<div class="w-full animate-in slide-in-from-bottom-32 duration-500">

  <div class="w-full flex flex-col items-center">
    <h1 class="text-center font-bold text-3xl py-2 my-5">Deine GitHub Projekte</h1>

    <div id="ghUserForm" [formGroup]="ghUserForm" class=" my-10 box-content rounded-lg bg-white shadow-custom-shadow md:mt-0 sm:max-w-md xl:p-20 xl:py-10 flex flex-col justify-evenly items-center">
      <h1 class="text-3xl mb-5 font-bold leading-tight tracking-tight bg-gradient-to-r from-primary-color to-secondary-color inline-block text-transparent bg-clip-text">
        GitHub Repositories anzeigen
      </h1>

      <input type="text" placeholder="GitHub Benutzernamen eingeben" formControlName="username" class="w-3/4 my-5 bg-accent-blue border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5" [required]="true">
      <button class="w-1/3 font-bold bg-primary-color text-accent-blue focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-lg text-sm px-5 py-2.5 text-center hover:bg-accent-blue hover:text-primary-color duration-150 ease-in-out" (click)="genRepo(ghUserForm.controls.username.value!)">Bestätigen</button>
    </div>

    <div id="repo-box" class="w-full grid grid-cols-3 gap-5"></div>
  </div>

  <div class="w-full flex flex-col items-center">
    <h1 class="text-center font-bold text-3xl py-2 my-5">Deine Kunstwerke</h1>

    <div class="w-3/4 h-56">
      <input id="file" type="file" accept="application/pdf" class="w-full h-full bg-accent-blue border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5" [required]="true">
    </div>
  </div>
</div>
