<!-- Loading Screen, so all the data can load correctly -->

<div *ngIf="isLoading"
     class="z-50 fixed inset-0 flex items-center justify-center bg-white transition-opacity duration-500 ease-out"
     [ngClass]="{ 'opacity-0': fadeOut }">

  <div class="text-xl flex flex-col items-center">
    <!-- Pulsierendes Logo -->
    <img src="assets/Melius-TBP_Logo_Simple.svg"
         alt="melius_logo"
         class="min-w-40 min-h-40 w-48 h-48 mb-4 animate-pulse-slow">
    <div class="w-10 h-10 border-8 border-t-transparent border-black rounded-full animate-spin"></div>

  </div>

</div>


<div>

  <div class="fixed top-0 left-0 w-full h-full overflow-hidden -z-10">


    <div class="bg-fixed h-screen transition-opacity duration-1000 ease-in-out absolute inset-0 blur-xl scale-110" [ngStyle]="{'background': backgroundImageUrl ? 'url(' + backgroundImageUrl + ')' : backgroundColor,
        'background-size': 'cover',
        'background-position': 'center',
        'background-repeat': 'no-repeat',
      }" [ngClass]="{ 'opacity-0': isLoading, 'opacity-100': !isLoading }">
    </div>

  </div>

<div class="w-5/6 h-screen m-auto">

  <div class="w-full">
      <div class="p-10 h-1/4 mt-20 flex justify-around drop-shadow-md">
        <div class="h-full block space-y-2 items-center">
          <div class="flex flex-col justify-center">
            <label class="cursor-pointer">
              <div *ngIf="this.portfolio.profile.profileImage == undefined" class="w-fit">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-52">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
              </div>

              <div *ngIf="this.portfolio.profile.profileImage != undefined" class="h-48 w-48 rounded-full" [ngStyle]="{'background-image': 'url(' + this.imageService.getDecodedImage(this.portfolio.profile.profileImage) + ')', 'background-size':'cover', 'background-position':'center'}"></div>
            </label>
          </div>

          <div class="flex flex-col justify-center space-y-2">
            <h1 class="text-5xl">{{this.portfolio.profile.firstName}} {{this.portfolio.profile.lastName}}</h1>
          </div>
        </div>
      </div>
  </div>

  <!-- Mini Navbar auf der rechten Seite -->
  <div class="fixed right-0 mt-14 top-2/5 backdrop-blur-xl space-y-4 px-4 py-2 rounded-l-lg z-20 max-w-[calc(100vw-16px)">
    <ul class="space-y-4">
      <li>
        <button class="flex items-center space-x-2" (click)="scrollToElement('cvSection')">
          <svg [ngClass]="{'text-primary-color': activeSection === 'cvSection', 'text-gray-500': activeSection !== 'cvSection'}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.75" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 7.5h1.5m-1.5 3h1.5m-7.5 3h7.5m-7.5 3h7.5m3-9h3.375c.621 0 1.125.504 1.125 1.125V18a2.25 2.25 0 0 1-2.25 2.25M16.5 7.5V18a2.25 2.25 0 0 0 2.25 2.25M16.5 7.5V4.875c0-.621-.504-1.125-1.125-1.125H4.125C3.504 3.75 3 4.254 3 4.875V18a2.25 2.25 0 0 0 2.25 2.25h13.5M6 7.5h3v3H6v-3Z" />
          </svg>
          <a [routerLink]="[]" [ngClass]="{'text-black': activeSection === 'cvSection', 'text-gray-500': activeSection !== 'cvSection'}" class="text-lg font-semibold hover:text-gray-700 duration-150 ease-in-out">{{'home.nav.cv' | translate}}</a>
        </button>
      </li>

      <li>
        <button class="flex items-center space-x-2" (click)="scrollToElement('compsSection')">
          <svg [ngClass]="{'text-orange-500': activeSection === 'compsSection', 'text-gray-500': activeSection !== 'compsSection'}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.75" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.362 5.214A8.252 8.252 0 0 1 12 21 8.25 8.25 0 0 1 6.038 7.047 8.287 8.287 0 0 0 9 9.601a8.983 8.983 0 0 1 3.361-6.867 8.21 8.21 0 0 0 3 2.48Z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 18a3.75 3.75 0 0 0 .495-7.468 5.99 5.99 0 0 0-1.925 3.547 5.975 5.975 0 0 1-2.133-1.001A3.75 3.75 0 0 0 12 18Z" />
          </svg>

          <a [routerLink]="[]" [ngClass]="{'text-black': activeSection === 'compsSection', 'text-gray-500': activeSection !== 'compsSection'}" class="text-lg font-semibold hover:text-gray-700 duration-150 ease-in-out">{{'home.nav.comps' | translate}}</a>
        </button>
      </li>

      <li>
        <button class="flex items-center space-x-2" (click)="scrollToElement('projectsSection')">
          <svg [ngClass]="{'text-green-500': activeSection === 'projectsSection', 'text-gray-500': activeSection !== 'projectsSection'}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="size-6 hover:'text-green-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="m21 7.5-2.25-1.313M21 7.5v2.25m0-2.25-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3 2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75 2.25-1.313M12 21.75V19.5m0 2.25-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25" />
          </svg>

          <a [routerLink]="[]" [ngClass]="{'text-black': activeSection === 'projectsSection', 'text-gray-500': activeSection !== 'projectsSection'}" class="text-lg font-semibold hover:text-gray-700 duration-150 ease-in-out">{{'home.nav.projects' | translate}}</a>
        </button>
      </li>
    </ul>
  </div>

  <!-- ================= -->
  <!-- Lebenslauf Abteil -->
  <!-- ================= -->
  <div id="cvSection" class="border-t border-gray-100 pb-10">
    <h1 class="text-7xl font-bold text-gray-200 ml-20 mt-10 mb-5">{{'home.nav.cv' | translate}}</h1>

    <div class="w-full h-fit flex justify-center py-10 px-20">
      <div class="w-full grid grid-cols-3 space-x-4 justify-center">

        <!-- Left Column -->
        <div class="col-start-1 space-y-10" id="cvColumnLeft">
        </div>


        <!-- Middle Column -->
        <div class="col-start-2 space-y-10" id="cvColumnMiddle">

          <!-- Allgemeine Informationen -->
          <div id="generalInfoBox" class="drop-shadow-lg animate-in slide-in-from-bottom-32 duration-500">
            <div class="bg-white rounded-xl px-10 py-6">
              <h1 class="text-center font-bold text-2xl py-2 text-gray-800">{{'home.cvPage.generally.title' | translate}}</h1>

              <div class="space-y-10 hover:cursor-default">
                <form class="space-y-4">
                  <span class="row-start-1 col-start-1 text-gray-500">{{'home.cvPage.generally.salutationHeader' | translate}}</span>

                  <div class="flex items-center pb-2">
                    <div class="grid">
                      <svg class="pointer-events-none z-10 right-1 relative col-start-1 row-start-1 h-4 w-4 self-center justify-self-end forced-colors:hidden" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
                      </svg>
                      <select [disabled]="disabledInputs" class="w-20 appearance-none forced-colors:appearance-auto border row-start-1 col-start-1 rounded-lg bg-accent-blue text-black px-2">
                        <option>{{this.portfolio.generalInfo.gender}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="grid grid-cols-2">
                    <div class="w-11/12 col-start-1">
                      <span class="text-gray-500">{{'home.cvPage.generally.firstName' | translate}}</span>
                      <div class="border-b-2">
                        <input type="text" [disabled]="disabledInputs" [value]="portfolio.profile.firstName" class="w-11/12">
                      </div>
                    </div>

                    <div class="w-11/12 col-start-2">
                      <span class="text-gray-500">{{'home.cvPage.generally.lastName' | translate}}</span>
                      <div class=" border-b-2">
                        <input type="text" [disabled]="disabledInputs" [value]="portfolio.profile.lastName" class="w-11/12">
                      </div>
                    </div>
                  </div>

                  <div class="grid grid-cols-1">
                    <span class="text-gray-500">Email</span>
                    <input type="text" [disabled]="disabledInputs" [value]="portfolio.profile.email" class="w-11/12">
                  </div>

                  <div class="grid grid-cols-1">
                    <span class="text-gray-500">{{'home.cvPage.generally.tel' | translate}}</span>
                    <input type="text" [disabled]="disabledInputs" [value]="portfolio.profile.phoneNumber" class="w-11/12">
                  </div>

                  <div class="grid grid-cols-2">
                    <div class="w-11/12 col-start-1">
                      <span class="text-gray-500">{{'home.cvPage.generally.postalCode' | translate}}</span>
                      <div class="border-b-2">
                        <input type="text" [disabled]="disabledInputs" [value]="portfolio.generalInfo.zipCode" class="w-11/12">
                      </div>
                    </div>

                    <div class="w-11/12 col-start-2">
                      <span class="text-gray-500">{{'home.cvPage.generally.location' | translate}}</span>
                      <div class=" border-b-2">
                        <input type="text" [disabled]="disabledInputs" [value]="portfolio.generalInfo.city" class="w-11/12">
                      </div>
                    </div>
                  </div>


                  <div class="grid grid-cols-1">
                    <span class="text-gray-500">{{'home.cvPage.generally.address' | translate}}</span>
                    <input type="text" [disabled]="disabledInputs" [value]="portfolio.generalInfo.address" class="w-11/12">
                  </div>
                </form>
              </div>
            </div>
          </div>

          <!--Ausbildung Informationen -->
          <div *ngIf="this.portfolio.educations != undefined && this.portfolio.educations.length > 0" id="educationsBox" class="drop-shadow-lg animate-in slide-in-from-bottom-32 duration-700">
            <div class="bg-white rounded-xl px-10 py-4">
              <h1 class="text-center font-bold text-2xl py-2 text-gray-800">{{'home.cvPage.educations.title' | translate}}</h1>

              <div class="mt-8 hover:cursor-default">
                <div class="space-y-8">
                  <div *ngFor="let educationItem of this.portfolio.educations; let i = index">

                    <div class="flex justify-between space-x-6 animate-in fade-in zoom-in duration-500">
                      <div class="w-full grid space-y-4">
                        <div class="grid grid-cols-1">
                          <span class="text-gray-500">{{'home.cvPage.educations.location' | translate}}</span>
                          <input [disabled]="disabledInputs" [value]="educationItem.name" class="border-b-2">
                        </div>


                        <div class="w-full grid grid-cols-3">
                          <div class="w-full">
                            <div class="w-fit grid grid-cols-1">
                              <span class="text-gray-500">{{'home.cvPage.educations.from' | translate}}</span>
                              <input [disabled]="disabledInputs" [value]="educationItem.fromDate" type="date" class="border-b-2">
                            </div>
                          </div>

                          <div class="w-full">
                            <div class="w-fit grid grid-cols-1">
                              <span class="text-gray-500">{{'home.cvPage.educations.until' | translate}}</span>
                              <input [disabled]="disabledInputs" [value]="educationItem.toDate" type="date" class="border-b-2">
                            </div>
                          </div>

                          <div class="w-full flex justify-end">
                            <div class="grid grid-cols-1">
                              <span class="row-start-1 col-start-1 text-gray-500">{{'home.cvPage.educations.complete' | translate}}</span>
                              <div class="flex items-center pb-2">
                                <div class="grid">
                                  <svg class="pointer-events-none z-10 right-1 relative col-start-1 row-start-1 h-4 w-4 self-center justify-self-end forced-colors:hidden" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
                                  </svg>
                                  <select [disabled]="disabledInputs" class="w-fit appearance-none forced-colors:appearance-auto border row-start-1 col-start-1 rounded-lg bg-accent-blue text-black px-2">
                                    <option>{{educationItem.finished}}</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>

              </div>
            </div>
          </div>

          <!-- Berufserfahrungen Informationen -->
          <div *ngIf="this.portfolio.workExperiences != undefined && this.portfolio.workExperiences.length > 0" id="workExperiencesBox" class="drop-shadow-lg animate-in slide-in-from-bottom-32 duration-700">
            <div class="bg-white rounded-xl  px-10 py-4 mb-10">
              <h1 class="text-center font-bold text-2xl py-2 text-gray-800">{{'home.cvPage.workExperience.title' | translate}}</h1>

              <div class="mt-8 hover:cursor-default">
                <div class="space-y-8">
                  <div *ngFor="let jobExperienceItem of this.portfolio.workExperiences; let i = index" class="space-y-4">

                    <div class="h-full flex justify-between space-x-6 animate-in fade-in zoom-in duration-500">
                      <div class="w-full grid space-y-4">

                        <div class="w-full grid grid-cols-1">
                          <span class="text-gray-500">{{'home.cvPage.workExperience.company' | translate}}</span>
                          <input [disabled]="disabledInputs" [value]="jobExperienceItem.company" class="border-b-2">
                        </div>


                        <div class="w-full grid grid-cols-2 justify-between">
                          <div class="w-full">
                            <div class="w-fit grid grid-cols-1">
                              <span class="text-gray-500">{{'home.cvPage.workExperience.from' | translate}}</span>
                              <input [disabled]="disabledInputs" [value]="jobExperienceItem.fromDate" type="date" class="border-b-2">
                            </div>
                          </div>

                          <div class="w-full">
                            <div class="w-fit grid grid-cols-1">
                              <span class="text-gray-500">{{'home.cvPage.workExperience.until' | translate}}</span>
                              <input [disabled]="disabledInputs" [value]="jobExperienceItem.toDate" type="date" class="border-b-2">
                            </div>
                          </div>
                        </div>

                        <div class="w-full grid grid-cols-1">
                          <span class="text-gray-500">{{'home.cvPage.workExperience.moreInfos' | translate}} </span>
                          <textarea [disabled]="disabledInputs" [value]="jobExperienceItem.information" class="bg-accent-blue resize-y rounded-md border-2"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

          <!-- Right Column -->
          <div class="col-start-3 space-y-10" id="cvColumnRight"></div>
      </div>
    </div>
  </div>



  <!-- ================== -->
  <!-- Kompetenzen Abteil -->
  <!-- ================== -->
  <div id="compsSection" class="border-t pb-10 border-gray-100">
    <h1 class="text-7xl font-bold text-gray-200 ml-20 mt-10 mb-5">{{'home.nav.comps' | translate}}</h1>
    <div class="w-full h-fit flex justify-center py-10 px-20">
      <div class="w-full grid grid-cols-3 space-x-4 justify-center">
        <!-- Left Column -->
        <div class="col-start-1 space-y-10" id="strengthsColumnLeft"></div>


        <!-- Middle Column -->
        <div class="col-start-2 space-y-10" id="strengthsColumnMiddle">
          <div *ngIf="this.portfolio.characteristics != undefined && this.portfolio.characteristics.length > 0" id="characteristicsBox" class="colListItem grid animate-in slide-in-from-bottom-32 duration-500">
            <div class="bg-white px-10 py-4 rounded-lg shadow-md">
              <h1 class="text-center font-bold text-2xl py-2 text-gray-800">{{ 'home.compPage.personal.title' | translate }}</h1>
              <div class="w-full relative mt-2 grid grid-cols-1 space-y-2 hover:cursor-default">
                <div class="max-w-full relative border rounded-lg">
                  <p-multiSelect [disabled]="disabledInputs" class="max-w-full"
                                 [(ngModel)]="this.portfolio.characteristics"
                                 placeholder="Stärken auswählen"
                                 optionLabel="label"
                                 display="chip"
                                 [showClear]="true"
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- Sprachliche Kenntnisse -->
          <div *ngIf="this.portfolio.knownLanguages != undefined && this.portfolio.knownLanguages.length > 0" id="knownLanguagesBox" class="colListItem bg-white rounded-lg px-2 py-10 shadow-md animate-in slide-in-from-bottom-32 duration-500">
            <h1 class="text-center font-bold text-2xl py-2 pb-4 text-gray-800">{{ 'home.compPage.languages.title' | translate }}</h1>

            <div class="mt-2 hover:cursor-default">
              <div class="">
                <div *ngFor="let langauge of this.portfolio.knownLanguages; let i = index">

                  <div class="w-auto mb-6 mx-10 flex items-center space-x-10 animate-in fade-in zoom-in duration-500">
                    <div>
                      <input [disabled]="disabledInputs" type="text" [value]="langauge.language" placeholder="Sprache" class="w-4/5 bg-white shadow-md rounded px-1 py-2 font-bold">
                    </div>

                    <div>
                      <app-star-rating [rating]="langauge.rating"></app-star-rating>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <!-- Programmier Kenntnisse -->
          <div *ngIf="this.portfolio.programmingKnowledges != undefined && this.portfolio.programmingKnowledges.length > 0" id="programmingKnowledgesBox" class="animate-in slide-in-from-bottom-32 duration-500">

            <div class="flex flex-col space-y-2 bg-white rounded-lg px-2 py-10 shadow-md">
              <h1 class="text-center font-bold text-2xl py-6 text-gray-800">{{ 'home.compPage.programming.title' | translate }}</h1>
              <div class="mt-2 hover:cursor-default" >
                <div class="space-y-8">
                  <div *ngFor="let programmingItem of this.portfolio.programmingKnowledges; let i = index">

                    <div class="w-auto mx-2 flex items-center justify-between space-x-10 animate-in fade-in zoom-in duration-500">
                      <app-drop-str-progr [selectedLanguage]="programmingItem.programming.value"></app-drop-str-progr>

                      <div class="flex-grow" draggable="false">
                        <div class="flex flex-col" draggable="false">
                          <input [value]="programmingItem.rating" class="rounded-lg overflow-hidden appearance-none bg-gray-400 h-3 w-full" type="range" min="1" max="100" step="1" draggable="false"/>

                          <div class="w-full flex justify-between mt-1">
                            <span class="text-sm text-intermediate-color">{{ 'home.compPage.programming.slider.bad' | translate }}</span>
                            <span class="text-sm text-intermediate-color">{{ 'home.compPage.programming.slider.meh' | translate }}</span>
                            <span class="text-sm text-intermediate-color">{{ 'home.compPage.programming.slider.ok' | translate }}</span>
                            <span class="text-sm text-intermediate-color">{{ 'home.compPage.programming.slider.good' | translate }}</span>
                            <span class="text-sm text-intermediate-color">{{ 'home.compPage.programming.slider.vg' | translate }}</span>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>

              </div>
            </div>
          </div>


          <!-- Software Kenntnisse -->
          <div *ngIf="this.portfolio.softwareKnowledges != undefined && this.portfolio.softwareKnowledges.length > 0" id="softwareKnowledgesBox" class=" colListItem bg-white rounded-lg px-2 py-10 shadow-md animate-in slide-in-from-bottom-32 duration-500">
            <h1 class="text-center font-bold text-2xl py-6 text-gray-800">{{ 'home.compPage.edv.title' | translate }}</h1>

            <div class="mt-2 hover:cursor-default">
              <div class="space-y-8">
                <div *ngFor="let softwareItem of this.portfolio.softwareKnowledges; let i = index">

                  <div class="w-auto mx-2 flex items-center justify-between space-x-10 animate-in fade-in zoom-in duration-500">
                    <app-drop-str-edv inputmode="" [selectedSoftware]="softwareItem.software.value"></app-drop-str-edv>

                    <div class="flex-grow">
                      <div class="flex flex-col">
                        <input [value]="softwareItem.rating" class="rounded-lg overflow-hidden appearance-none bg-gray-400 h-3 w-full" type="range" min="1" max="100" step="1" />

                        <div class="w-full flex justify-between mt-1">
                          <span class="text-sm text-intermediate-color">{{ 'home.compPage.edv.slider.bad' | translate }}</span>
                          <span class="text-sm text-intermediate-color">{{ 'home.compPage.edv.slider.meh' | translate }}</span>
                          <span class="text-sm text-intermediate-color">{{ 'home.compPage.edv.slider.ok' | translate }}</span>
                          <span class="text-sm text-intermediate-color">{{ 'home.compPage.edv.slider.good' | translate }}</span>
                          <span class="text-sm text-intermediate-color">{{ 'home.compPage.edv.slider.vg' | translate }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Right Column -->
        <div class="col-start-3 space-y-10" id="strengthsColumnRight"></div>
      </div>
    </div>
  </div>





  <!-- ================== -->
  <!-- Projekte Abteil -->
  <!-- ================== -->
  <div id="projectsSection" class="border-t pb-10 border-gray-100">
    <h1 class="text-7xl font-bold text-gray-200 ml-20 mt-10 mb-5">{{'home.nav.projects' | translate}}</h1>

      <div *ngIf="this.portfolio.ghRepos != undefined && this.portfolio.ghRepos.length > 0" id="repo-box" class="w-full grid grid-cols-3 gap-5">
        <div *ngFor="let currRepo of this.portfolio.ghRepos" class="w-4/5 m-auto animate-in fade-in zoom-in animation-duration-500 hover:-translate-y-2 duration-300">
          <div id="repo-{{currRepo.id}}" class="bg-white w-full m-auto flex flex-col rounded-2xl overflow-hidden shadow-md hover:shadow-custom-shadow duration-150">
            <div class="flex justify-around bg-gray-900">
              <h1 id="repo-elements" class='text-white w-full p-3 font-bold'>{{ currRepo.username }}/{{ currRepo.repoName }}</h1>
            </div>
            <div class='p-3'>
              <p>{{ currRepo.description }}</p>
              <div>{{ currRepo.language }}</div>
              <button id="repo-link-${currRepos.id}" class='w-1/3 mx-auto my-3 py-2 bg-primary-color rounded-md text-accent-blue flex align-middle justify-center font-bold hover:bg-blue-500 duration-150 ease-in-out'>
                <a [href]='currRepo.url' target='_blank'>Zum Repo</a>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="this.uploadedFiles != undefined && this.uploadedFiles.length > 0" class="w-full flex flex-col items-center mt-10">
        <div class="w-full">
          <h1 class="text-center font-bold text-3xl py-2 my-5">{{'home.projectsPage.artworks.title' | translate}}</h1>


          <div class="w-full">
            <div *ngIf="uploadedFiles != undefined" class="relative top-0 w-full mt-6 h-fit ">
              <div class="grid grid-cols-4 space-x-4">

                <!-- File Column One -->
                <div class="col-start-1 border-2 border-dashed border-gray-100  rounded-lg space-y-10" id="firstFileProjectCol">

                  <div *ngFor="let uploadedFile of uploadedFiles; let i = index" id="pic_{{uploadedFile.id}}" class="bg-transparent p-2 animate-in fade-in zoom-in duration-700 flex flex-col w-fit h-fit overflow-hidden">
                    <div class="w-fit h-fit" >
                      <div class="py-2">
                        <img [src]="this.imageService.getDecodedImage(uploadedFile.image)" alt="uploaded_file" class="rounded-lg shadow-lg"/>
                      </div>
                    </div>
                  </div>
                </div>


                <!-- File Column Two -->
                <div class="col-start-2 border-2 border-dashed border-gray-100  rounded-lg space-y-10" id="secondFileProjectCol"></div>


                <!-- File Column Three -->
                <div class="col-start-3 border-2 border-dashed border-gray-100  rounded-lg space-y-10" id="thirdFileProjectCol"></div>


                <!-- File Column Four -->
                <div class="col-start-4 border-2 border-dashed border-gray-100  rounded-lg space-y-10" id="fourthFileProjectCol">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
