<section class="w-full">
  <div class="flex flex-col items-center justify-center -ml-32 px-6 py-8 mx-auto ">
    <div class="w-full rounded-lg bg-white px-10 shadow-custom-shadow md:mt-0 sm:max-w-md xl:p-2 xl:py-4">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

        <h1 class="text-3xl font-bold leading-tight tracking-tight bg-gradient-to-r from-primary-color to-secondary-color inline-block text-transparent bg-clip-text">
          Willkommen zurück!
        </h1>

        <form [formGroup]="saveForm" class="space-y-4 md:space-y-6" action="#">
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
            <input type="email" formControlName="email" id="email" class="bg-accent-blue border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="max.mustermann@gmail.com" required="">
            <span *ngIf="saveForm.get('email')?.touched && !saveForm.get('email')?.valid" class="form-text text-xs text-muted text-red-600">*Email muss gültig sein</span>
          </div>
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Passwort</label>
            <input type="password" formControlName="password" id="password" placeholder="123•••••" class="bg-accent-blue border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-start">
              <div class="flex items-center h-5">
                <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" required="">
              </div>
              <div class="ml-3 text-sm">
                <label for="remember" class="text-gray-500">Benutzerdaten speichern?</label>
              </div>
            </div>
          </div>
          <button type="submit" class="w-full font-bold bg-primary-color text-accent-blue focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-lg text-sm px-5 py-2.5 text-center hover:bg-accent-blue hover:text-primary-color duration-150 ease-in-out" (click)="onLogin()" [disabled]="!saveForm.valid" [routerLink]="['/home']">Einloggen</button>
        </form>

      </div>
    </div>
  </div>
</section>
