<div class="py-2 relative">

  <div class="w-full bg-white flex justify-evenly text-center font-bold absolute">
    <a class=" cursor-pointer">
      <h1 class="text-2xl px-40 hover:border-b-2 border-primary-color duration-150 ease-in-out" [routerLinkActive]="['activeHomeCVNavTap']" [routerLink]="['/home/cv']">Lebenslauf</h1>
    </a>

    <a class=" cursor-pointer">
      <h1 class="text-2xl px-40 hover:border-b-2 border-intermediate-color duration-150 ease-in-out" [routerLinkActive]="['activeHomeProjectsNavTap']" [routerLink]="['/home/projects']">Projekte</h1>
    </a>

    <a class=" cursor-pointer">
      <h1 class="text-2xl px-40 hover:border-b-2 border-secondary-color duration-150 ease-in-out" [routerLinkActive]="['activeHomeStrengthsNavTap']" [routerLink]="['/home/strengths']">Stärken</h1>
    </a>
  </div>

</div>
