<div class="w-full rounded-b-xl font-bold box-content bg-white shadow-lg">
  <div class="w-auto h-full items-center grid grid-cols-3 text-center">


    <a [routerLinkActive]="['activeHomeCVNavTap']"
       [routerLink]="['/home/cv']"
       #rlaCV="routerLinkActive" class="cursor-pointer col-start-1 relative after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:h-4 after:w-px after:bg-gray-400">

      <h1 class="text-xl px-36 py-2 rounded-bl-xl hover:bg-gray-50 duration-150 ease-in-out"
           [ngClass]="{'hover:bg-gray-50': !rlaCV.isActive}">
        {{'home.nav.cv' | translate}}
      </h1>
    </a>

    <a [routerLinkActive]="['activeHomeProjectsNavTap']"
       [routerLink]="['/home/projects']"
       #rlaProjects="routerLinkActive"
       class="cursor-pointer col-start-2 relative after:absolute after:right-0 after:top-1/2 after:-translate-y-1/2 after:h-4 after:w-px after:bg-gray-400">
      <h1 class="text-xl px-36 py-2 hover:bg-gray-50 duration-150 ease-in-out"
          [ngClass]="{'hover:bg-gray-50': !rlaProjects.isActive}">
        {{'home.nav.projects' | translate}}
      </h1>
    </a>

    <a [routerLinkActive]="['activeHomeStrengthsNavTap']"
       [routerLink]="['/home/strengths']"
       #rlaStrengths="routerLinkActive"
       class="cursor-pointer col-start-3">
      <h1 class="text-xl px-36 py-2 rounded-br-xl hover:bg-gray-50 duration-150 ease-in-out"
          [ngClass]="{'hover:bg-gray-50': !rlaStrengths.isActive}">
        {{'home.nav.comps' | translate}}
      </h1>
    </a>
  </div>
</div>
