<div class="w-full h-full z-50 animate-fade-down duration-150">
  <div class="py-10 bg-white rounded-lg drop-shadow-lg space-y-8">

    <div class="w-full flex items-center relative">
      <div class="w-fit ml-2 absolute cursor-pointer" (click)="closePasswordField()">
        <svg xmlns="http://www.w3.org/2000/svg" height="38px" viewBox="0 -960 960 960" width="38px" fill="#000000"><path d="m272-440 116 116q11 11 11 28t-11 28q-11 11-28 11t-28-11L148-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 28-11t28 11q11 11 11 28t-11 28L272-520h528q17 0 28.5 11.5T840-480q0 17-11.5 28.5T800-440H272Z"/></svg>
      </div>
      <div class="w-full flex justify-center items-center space-x-5">
        <div class="bg-white rounded-full w-24 h-24 shadow-lg"></div>
        <h1 class="font-semibold text-3xl">"Group Name" beitreten</h1>
      </div>
    </div>

    <div class="space-y-8 flex flex-col justify-center">
      <div class="w-full flex justify-center">
        <div class="w-2/3">
          <h1 class="text-gray-500">Bevor du der Gruppe "Group Name" beitreten kannst, musst du noch einen bestimmten Einschreibeschlüssel eingeben.</h1>
        </div>
      </div>

      <div class="space-y-5">
        <div class="w-full flex justify-center p-2">
          <input class="w-5/12 font-bold p-2 rounded-lg border" type="text" placeholder="Einschreibeschlüssel eingeben...">
        </div>

        <div class="w-full flex justify-center">
          <button class="bg-primary-color text-white rounded-lg shadow-md px-2 py-1.5 hover:bg-accent-blue hover:text-primary-color duration-150" [routerLink]="['/groups/myGroup']">Gruppe beitreten</button>
        </div>
      </div>
    </div>
  </div>
</div>
