<div class="w-screen h-screen flex justify-center">
  <!-- Background Image -->
  <div class="absolute -z-10 w-screen h-screen overflow-hidden bg-no-repeat object-fill">
    <img ngSrc="../../../../assets/Melius-Groups-Background.svg" alt="radio_waves" class="min-w-max min-h-max opacity-10 object-contain bg-no-repeat overflow-hidden" height="16"
         width="16">
  </div>


  <div class="w-5/6">
    <!-- Header -->
    <div class="w-full h-1/4 mt-6 p-10">
      <div class="flex justify-between items-center">
        <div class="flex space-x-10 items-center">
          <div>
            <app-group-avatar></app-group-avatar>
          </div>

          <div>
            <h1 class="text-5xl font-bold">Group name</h1>
          </div>
        </div>

        <div class="w-1/4 space-y-4 bg-white py-4 rounded-xl drop-shadow-lg border border-gray-100">
          <!-- Informations about the group -->
          <div class="mx-5 space-y-5">
            <div class="flex justify-between">
              <div>
                <h1 class="text-2xl font-semibold">Unternehmen</h1>
                <h1 class="font-semibold text-lg">Name</h1>
              </div>
              <div>
                <h1 class="text-2xl font-semibold">Abteilung</h1>
                <h1 class="font-semibold text-lg">Name</h1>
              </div>
            </div>


            <div>
              <h1 class="text-2xl font-semibold">Mitarbeiter</h1>
                <div class="flex justify-between">
                  <div>
                    <h1 class="font-semibold text-lg">Zurzeit beigetreten</h1>
                    <h1 class="font-semibold text-md">Anzahl</h1>
                  </div>
                  <div>
                    <h1 class="font-semibold text-lg">Max. zulässig</h1>
                    <h1 class="font-semibold text-md">Anzahl</h1>
                  </div>
                </div>
            </div>
          </div>
          <div class="w-full flex justify-center">
            <button class="bg-intermediate-color text-white px-2.5 py-1.5 rounded-lg hover:bg-secondary-color duration-150 ease-in-out">Speichern</button>
          </div>
        </div>
      </div>
    </div>

    <!-- DropDown Menu Buttons -->
    <div>
      <div>
        <!-- Filter Members DropDown -->
      </div>
      <div>
        <!-- Create Roles DropDown -->
      </div>

    </div>

    <!-- Main Content (Display Members with their Roles )-->
    <div>

    </div>
  </div>
</div>
