<section class="">
  <div class="flex flex-col items-center justify-center -ml-32 px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-white rounded-lg shadow-custom-shadow md:mt-0 sm:max-w-md xl:px-2 xl:py-4">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-3xl font-bold leading-tight tracking-tight bg-gradient-to-r from-primary-color to-secondary-color inline-block text-transparent bg-clip-text">
          Create your Account!
        </h1>
        <form class="space-y-4 md:space-y-6" action="#">

          <div class="flex justify-evenly space-x-5">
            <div>
              <label class="block mb-2 text-sm font-medium text-gray-900">First Name</label>
              <input type="text" name="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Max" required="">
            </div>

            <div>
              <label class="block mb-2 text-sm font-medium text-gray-900">Last Name</label>
              <input type="text" name="last_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Mustermann" required="">
            </div>
          </div>

          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
            <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="max.mustermann@gmail.com" required="">
          </div>

          <div>
            <label for="terms" class="block mb-2 text-sm font-medium text-gray-900">Your Phone number</label>
            <input type="tel" name="telefon" id="" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="1234 567 890" required="">
          </div>
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
            <input type="password" name="password" id="password" placeholder="123•••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
          </div>
          <div>
            <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 ">Confirm password</label>
            <input type="password" name="confirm-password" id="confirm-password" placeholder="123•••••" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
          </div>
          <div class="flex items-start">
            <div class="flex items-center h-5">
              <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300" required="">
            </div>
            <div class="ml-3 text-sm">
              <label for="terms" class="font-light text-gray-500 ">I accept the <a class="font-medium text-primary-color hover:underline " href="#">Terms and Conditions</a></label>
            </div>
          </div>
          <button type="submit" class="w-full font-bold bg-primary-color text-accent-blue focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-lg text-sm px-5 py-2.5 text-center hover:bg-accent-blue hover:text-primary-color duration-150 ease-in-out" [routerLink]="['/home']">Create my Account!</button>
        </form>
      </div>
    </div>
  </div>
</section>
