<div class="p-5" xmlns="http://www.w3.org/1999/html">

  <div class="w-full flex justify-center -ml-2">
    <img src="assets/icons/leaving-popup-icon.svg" alt="leaving-popup-icon" class="w-40 h-40">
  </div>
  <mat-dialog-content class="mat-typography">
    <h1 class="">Willst du wirklich schon gehen?</h1>
  </mat-dialog-content>

  <mat-dialog-actions align="center" class="space-x-20">
    <button class="bg-white text-blue-600 border border-blue-600 px-2.5 py-1.5 rounded-lg hover:bg-blue-600 hover:text-white duration-200 ease-in-out" mat-dialog-close>
      Abbrechen
    </button>
    <button class="bg-white text-red-600 border border-red-600 px-2.5 py-1.5 rounded-lg hover:bg-red-600 hover:text-white duration-200 ease-in-out" [mat-dialog-close]="true" (click)="logOut()">
      Ausloggen
    </button>
  </mat-dialog-actions>

</div>
