
<div>
  <div class=" sticky top-12 flex justify-end z-30">
    <app-dropdown-menu-home></app-dropdown-menu-home>
  </div>

  <div class="w-full mt-5 content-center grid grid-cols-3 space-x-4 justify-center">

    <!-- Column 1 -->
    <div [ngClass]="showBorders" class="col-start-1 space-y-10" id="leftSkillCol"
         (dragover)="onDragOver($event)"
         (drop)="onDrop($event, 'leftSkillCol')">
    </div>

    <!-- Column 2 -->
    <div [ngClass]="showBorders" class="col-start-2 space-y-10" id="middleSkillCol"
         (dragover)="onDragOver($event)"
         (drop)="onDrop($event, 'middleSkillCol')">

      <!-- Allgemein Kenntnisse -->
      <div [ngClass]="dragBox" [draggable]="checkDraggable()" (dragstart)="onDragStart($event, $event.target)" class="colListItem grid animate-in slide-in-from-bottom-32 duration-500">
          <div class="bg-white px-10 py-4 rounded-lg shadow-md">
            <h1 class="text-center font-bold text-2xl py-2">Persönliche Eigenschaften</h1>
            <div class="w-full mt-2 grid grid-cols-1 space-y-2 hover:cursor-default">
              <div class="w-max border rounded-lg">
                <p-multiSelect
                  [options]="characteristics"
                  [(ngModel)]="selectedCharacteristic"
                  placeholder="Stärken auswählen"
                  optionLabel="label"
                  display="chip"
                  [showClear]="true"
                />
              </div>
              <small class="text-gray-400">Wähle drei primäre Stärken aus die angezeigt werden sollen!</small>
            </div>
          </div>
      </div>

      <!-- Sprachliche Kenntnisse -->
      <div [ngClass]="dragBox" [draggable]="checkDraggable()" (dragstart)="onDragStart($event, $event.target)" class="colListItem bg-white grid rounded-lg px-10 py-4 shadow-md animate-in slide-in-from-bottom-32 duration-500">
        <h1 class="text-center font-bold text-2xl py-2 pb-4">Sprachliche Stärken</h1>

        <div class="h-full flex flex-col space-y-4 hover:cursor-default">
          <div class="w-auto mx-10 flex justify-evenly items-center animate-in fade-in zoom-in duration-500">
            <div>
              <input formControlName="programmingName" placeholder="Sprache" class="w-3/5 bg-white shadow-md rounded-md px-1 py-1.5 font-bold">
            </div>

            <div >
              <p-rating [ngModel]="userLanguageRating" class="w-2/5"></p-rating>
            </div>
          </div>

          <div class="w-auto mx-10 flex justify-evenly items-center animate-in fade-in zoom-in duration-700">
            <div>
              <input formControlName="programmingName" placeholder="Sprache" class="w-3/5 bg-white shadow-md rounded px-1 py-2 font-bold">
            </div>

            <div>
              <p-rating [ngModel]="userLanguageRating" class="w-2/5"></p-rating>
            </div>
          </div>

          <div class="w-auto mx-10 flex justify-evenly items-center animate-in fade-in zoom-in duration-1000">
            <div>
              <input formControlName="programmingName" placeholder="Sprache" class="w-3/5 bg-white shadow-md rounded px-1 py-2 font-bold">
            </div>

            <div>
              <p-rating [ngModel]="userLanguageRating" class="w-2/5"></p-rating>
            </div>
          </div>

        </div>
      </div>

      <!-- Programmier Kenntnisse -->
      <div [ngClass]="dragBox" [draggable]="checkDraggable()" (dragstart)="onDragStart($event, $event.target)" class="animate-in slide-in-from-bottom-32 duration-500">

          <div class="flex flex-col space-y-2 bg-white rounded-lg px-2 py-1 shadow-md">
            <h1 class="text-center font-bold text-2xl py-6">Programmier Kenntnisse</h1>
            <div [formGroup]="programmingKnowledgeForm" class="mt-2 hover:cursor-default" >
              <div formArrayName="programminKnowledgeItems" class="space-y-8">
                <div *ngFor="let programmingItem of programmingKnowledgeFormItems.controls; let i = index" [formGroupName]="i">

                  <div class="w-auto mx-2 flex justify-between space-x-10 animate-in fade-in zoom-in duration-500">
                    <app-drop-str-progr></app-drop-str-progr>

                    <div class="flex-grow" >
                      <div class="flex flex-col">
                        <input formControlName="programmingKnowledge" class="rounded-lg overflow-hidden appearance-none bg-gray-400 h-3 w-full" type="range" min="1" max="100" step="1" value="30"/>

                        <div class="w-full flex justify-between mt-1">
                          <span class="text-sm text-intermediate-color">Schlecht</span>
                          <span class="text-sm text-intermediate-color">Meh</span>
                          <span class="text-sm text-intermediate-color">Okay</span>
                          <span class="text-sm text-intermediate-color">Gut</span>
                          <span class="text-sm text-intermediate-color">Sehr Gut</span>
                        </div>
                      </div>
                    </div>

                    <div class="flex-shrink-0">
                      <svg (click)="deleteProgrammingLanguage(i)" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EA3323" class="cursor-pointer"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                    </div>
                  </div>

                </div>
              </div>

              <div class="flex justify-end py-2">
                <button class="bg-white rounded-md hover:shadow-md duration-150" (click)="addProgrammingLanguage()">
                  <img src="assets/icons/home-page/add_element-icon.svg" alt="add_icon" class="w-10 h-10 cursor-pointer">
                </button>
              </div>
            </div>
          </div>


      </div>


      <!-- Software Kenntnisse -->
      <div [ngClass]="dragBox" [draggable]="checkDraggable()" (dragstart)="onDragStart($event, $event.target)" class="colListItem bg-white rounded-lg px-2 py-1 shadow-md animate-in slide-in-from-bottom-32 duration-500">
        <h1 class="text-center font-bold text-2xl py-6">EDV Kenntnisse</h1>

        <div [formGroup]="softwareKnowledgeForm" class="mt-2 hover:cursor-default">
          <div formArrayName="programminKnowledgeItems" class="space-y-8">
            <div *ngFor="let softwareItem of softwareKnowledgeFormItems.controls; let i = index" [formGroupName]="i">

              <div class="w-auto mx-2 flex justify-between space-x-10 animate-in fade-in zoom-in duration-500">
                <app-drop-str-edv></app-drop-str-edv>

                <div class="flex-grow">
                  <div class="flex flex-col">
                    <input formControlName="softwareAppKnowledge" class="rounded-lg overflow-hidden appearance-none bg-gray-400 h-3 w-full" type="range" min="1" max="100" step="1" value="30" />

                    <div class="w-full flex justify-between mt-1">
                      <span class="text-sm text-intermediate-color">Schlecht</span>
                      <span class="text-sm text-intermediate-color">Meh</span>
                      <span class="text-sm text-intermediate-color">Okay</span>
                      <span class="text-sm text-intermediate-color">Gut</span>
                      <span class="text-sm text-intermediate-color">Sehr Gut</span>
                    </div>
                  </div>
                </div>

                <div class="flex-shrink-0">
                  <svg (click)="deleteSoftware(i)" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#EA3323" class="cursor-pointer"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                </div>
              </div>

            </div>
          </div>

          <div class="flex justify-end py-2">
            <button class="bg-white rounded-md hover:shadow-md duration-150" (click)="addSoftware()">
              <img src="assets/icons/home-page/add_element-icon.svg" alt="add_icon" class="w-10 h-10 cursor-pointer">
            </button>
          </div>
        </div>
      </div>
    </div>


    <!-- Column 3 -->
    <div [ngClass]="showBorders" class="col-start-3 space-y-10" id="rightSkillCol"
         (dragover)="onDragOver($event)"
         (drop)="onDrop($event, 'rightSkillCol')">
    </div>

  </div>
</div>
