<div *ngIf="settingsPage.isBackgroundSelectionVisible || isAnimating"
     [ngClass]="{'animate-fade-down duration-150': settingsPage.isBackgroundSelectionVisible, 'animate-out fade-out': !settingsPage.isBackgroundSelectionVisible && isAnimating}"
     (animationend)="onAnimationEnd()"
     class="w-96 p-6 rounded-xl shadow-lg border-2 bg-white space-y-4 -mt-2">

  <!-- Titel -->
  <div class="w-full h-fit flex justify-between items-center">
    <h2 class="text-lg font-semibold">Wähle deinen Hintergrund</h2>
    <button (click)="closeBackgroundSelection()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400 cursor-pointer" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>

  <!-- Statische Farbe -->
  <div class="justify-between">
    <label class="text-sm font-semibold">Statische Farbe</label>
    <div class="grid grid-cols-2 items-center">
      <p-colorPicker
        [(ngModel)]="selectedColor"
        class="w-full h-8 rounded-lg border mt-2">
      </p-colorPicker>
      <div>
        <label class="flex justify-end items-center">
          <input type="checkbox" class="toggle-checkbox" [checked]="isStaticColorEnabled" (change)="toggleCheckbox('staticColor')" />
          <span class="ml-2"></span>
        </label>
      </div>
    </div>
  </div>

  <!-- Apply Button -->
  <div class="w-full flex justify-center">
    <button (click)="apply()" class="w-fit bg-intermediate-color hover:bg-secondary-color duration-150 ease-in-out text-white font-semibold py-1 px-4 rounded-lg">
      Apply
    </button>
  </div>
</div>
