<div *ngIf="settingsPage.isBackgroundSelectionVisible || isAnimating"
     [ngClass]="{'animate-fade-down duration-150': settingsPage.isBackgroundSelectionVisible, 'animate-out fade-out': !settingsPage.isBackgroundSelectionVisible && isAnimating}"
     (animationend)="onAnimationEnd()"
     class="w-96 p-6 rounded-xl shadow-lg border-2 bg-white space-y-4 -mt-2">

  <!-- Titel -->
  <div class="w-full h-fit flex justify-between items-center">
    <h1 class="text-lg font-semibold">Wähle deinen Hintergrund</h1>
    <button (click)="closeBackgroundSelection()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#9ca3af" class="size-7">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>

    </button>
  </div>

  <!-- Statische Farbe -->
  <div class="justify-between">
    <h1 class="text-sm font-semibold">Statische Farbe</h1>
    <div class="grid grid-cols-2 items-center mt-1">
      <p-colorPicker
        [(ngModel)]="selectedColor"
        class="w-full h-8">
      </p-colorPicker>
      <div class="flex justify-end text-white font-semibold">
        <button
          (click)="activateButton('staticColor')"
          [ngClass]="{'bg-green-400 text-white': isStaticColorEnabled, 'bg-red-500 text-white': !isStaticColorEnabled}"
          class="w-16 h-8 rounded-lg focus:outline-none">
          {{ isStaticColorEnabled ? 'On' : 'Off' }}
        </button>
      </div>
    </div>
  </div>

  <!-- Bild hochladen -->
  <div class="justify-between">
    <h1 class="text-sm font-semibold">Eigenes Hintergrundbild verwenden</h1>
    <div class="grid grid-cols-2 items-center mt-1">
      <div class=" border rounded-lg py-1 bg-blue-500 hover:bg-blue-600 duration-150">
        <input
          type="file"
          multiple
          class="hidden"
          id="fileUpload"
          (change)="onFileSelected($event)"
          accept=".jpeg, .png, .pdf, .jpg"
        />
        <label
          for="fileUpload"
          class="w-full h-full space-x-2 flex items-center justify-center cursor-pointer">
          <span class="text-white font-semibold">Bild hochladen</span>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="#FFFFFF" class="size-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5" />
          </svg>
        </label>
      </div>

      <div class="flex justify-end text-white font-semibold">
        <button
          (click)="activateButton('backgroundImage')"
          [ngClass]="{'bg-green-400 text-white': isBackgroundPictureEnabled, 'bg-red-500 text-white': !isBackgroundPictureEnabled}"
          class="w-16 h-8 rounded-lg focus:outline-none">
          {{ isBackgroundPictureEnabled ? 'On' : 'Off' }}
        </button>
      </div>
    </div>
  </div>

  <!-- Kürzlich verwendet -->
  <div>
    <h1 class="text-sm font-semibold">Ausgewähltes Bild</h1>

    <!-- Hier wird das geuploadete Bild angezeigt -->
    <div class="mt-1">
      <div class="flex space-x-2 w-full h-28 overflow-hidden">
        <img [src]="this.selectedImage" alt="" class="w-full h-full border-2 rounded-lg object-cover">

        <div class="h-full items-start">
          <div class="p-1 w-fit h-fit bg-white rounded-md hover:shadow-md ease-in-out duration-150 cursor-pointer" (click)="removeSelectedImage()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#f87171" class="size-7">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Apply Button -->
  <div class="w-full flex justify-center">
    <button (click)="apply()" class="w-fit bg-intermediate-color hover:bg-secondary-color duration-150 ease-in-out text-white font-semibold py-1 px-4 rounded-lg">
      Apply
    </button>
  </div>
</div>
