
<div class="w-full">
  <div class="w-full sticky top-12 flex justify-end z-30">
    <app-dropdown-menu-home></app-dropdown-menu-home>
  </div>
  <div class="w-full flex justify-center">
    <div class="">

      <!-- Allgemeine Informationen -->
      <div class="p-4 drop-shadow-lg animate-in slide-in-from-bottom-32 duration-500">
        <div class="bg-white rounded-xl px-10 py-6">
          <h1 class="text-center font-bold text-2xl py-2">Allgemein</h1>

          <div class="space-y-6">
            <div class="space-y-2">
              <span class="row-start-1 col-start-1 text-gray-500">Ansprache</span>

              <div class="flex items-center pb-2">
                <div class="grid">
                  <svg class="pointer-events-none z-10 right-1 relative col-start-1 row-start-1 h-4 w-4 self-center justify-self-end forced-colors:hidden" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
                  </svg>
                  <select class="w-20 appearance-none forced-colors:appearance-auto border row-start-1 col-start-1 rounded-lg bg-accent-blue text-black px-2">
                    <option>Herr</option>
                    <option>Frau</option>
                    <option>Divers</option>
                  </select>
                </div>
              </div>

              <div class="w-full flex justify-between space-x-10">
                <div class="flex flex-col">
                  <span class="text-gray-500">Vorname</span>
                  <input type="text" class="border-b-2">
                </div>

                <div class="flex flex-col">
                  <span class="text-gray-500">Nachname</span>
                  <input type="text" class="border-b-2">
                </div>
              </div>

              <div class="grid grid-cols-1">
                <span class="text-gray-500">Email</span>
                <input type="email" class="border-b-2">
              </div>

              <div class="grid grid-cols-1">
                <span class="text-gray-500">Telefonnummer</span>
                <input type="tel" class="border-b-2">
              </div>

              <div class="w-full flex justify-between space-x-10">
                <div class="flex flex-col">
                  <span class="text-gray-500">PLZ</span>
                  <input type="text" class="border-b-2">
                </div>

                <div class="flex flex-col">
                  <span class="text-gray-500">Ort</span>
                  <input type="text" class="border-b-2">
                </div>
              </div>


              <div class="grid grid-cols-1">
                <span class="text-gray-500">Addresse</span>
                <input class="border-b-2">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Ausbildung Informationen -->
      <div class="p-4 drop-shadow-lg animate-in slide-in-from-bottom-32 duration-700">
        <div class="bg-white rounded-xl px-10 py-4">
          <h1 class="text-center font-bold text-2xl py-2">Ausbildungen</h1>

          <div class="flex justify-between space-x-6 animate-in fade-in zoom-in duration-500">
            <div class="w-full grid space-y-4">
              <div class="grid grid-cols-1">
                <span class="text-gray-500">Bildungseinrichtung/Ort</span>
                <input formControlName="educationalInst" class="border-b-2">
              </div>


              <div class="w-full grid grid-cols-3">
                <div class="w-full">
                  <div class="w-fit grid grid-cols-1">
                    <span class="text-gray-500">Von</span>
                    <input formControlName="eIdateFrom" type="date" class="border-b-2">
                  </div>
                </div>

                <div class="w-full">
                  <div class="w-fit grid grid-cols-1">
                    <span class="text-gray-500">Bis</span>
                    <input formControlName="eIdateTo" type="date" class="border-b-2">
                  </div>
                </div>

                <div class="w-full flex justify-end">
                  <div class="grid grid-cols-1">
                    <span class="row-start-1 col-start-1 text-gray-500">Absolviert</span>
                    <div class="flex items-center pb-2">
                      <div class="grid">
                        <svg class="pointer-events-none z-10 right-1 relative col-start-1 row-start-1 h-4 w-4 self-center justify-self-end forced-colors:hidden" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
                        </svg>
                        <select formControlName="eIFinished" class="w-fit appearance-none forced-colors:appearance-auto border row-start-1 col-start-1 rounded-lg bg-accent-blue text-black px-2">
                          <option>Ja</option>
                          <option>Nein</option>
                          <option>In Ausbildung</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div [formGroup]="educationForm" class="mt-8">
            <div formArrayName="educationFormItems" class="space-y-8">
              <div *ngFor="let educationItem of educationFormItems.controls; let i = index" [formGroupName]="i">

                <div class="flex justify-between space-x-6 animate-in fade-in zoom-in duration-500">
                  <div class="w-full grid space-y-4">
                    <div class="grid grid-cols-1">
                      <span class="text-gray-500">Bildungseinrichtung/Ort</span>
                      <input formControlName="educationalInst" class="border-b-2">
                    </div>


                    <div class="w-full grid grid-cols-3">
                      <div class="w-full">
                        <div class="w-fit grid grid-cols-1">
                          <span class="text-gray-500">Von</span>
                          <input formControlName="eIdateFrom" type="date" class="border-b-2">
                        </div>
                      </div>

                      <div class="w-full">
                        <div class="w-fit grid grid-cols-1">
                          <span class="text-gray-500">Bis</span>
                          <input formControlName="eIdateTo" type="date" class="border-b-2">
                        </div>
                      </div>

                      <div class="w-full flex justify-end">
                        <div class="grid grid-cols-1">
                          <span class="row-start-1 col-start-1 text-gray-500">Absolviert</span>
                          <div class="flex items-center pb-2">
                            <div class="grid">
                              <svg class="pointer-events-none z-10 right-1 relative col-start-1 row-start-1 h-4 w-4 self-center justify-self-end forced-colors:hidden" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"></path>
                              </svg>
                              <select formControlName="eIFinished" class="w-fit appearance-none forced-colors:appearance-auto border row-start-1 col-start-1 rounded-lg bg-accent-blue text-black px-2">
                                <option>Ja</option>
                                <option>Nein</option>
                                <option>In Ausbildung</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="h-full items-center py-8 px-1">
                    <svg (click)="deleteEducationInfo(i)" class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px" fill="#EA3323"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                  </div>
                </div>

              </div>
            </div>

            <div class="flex justify-end py-2">
              <button class="bg-white rounded-md hover:shadow-md duration-150" (click)="addEducationInfo()">
                <img src="assets/icons/home-page/add_element-icon.svg" alt="add_icon" class="w-10 h-10 cursor-pointer">
              </button>
            </div>
          </div>
        </div>
      </div>


      <!-- Berufserfahrungen Informationen -->
      <div class="p-4 drop-shadow-lg animate-in slide-in-from-bottom-32 duration-700">
        <div class="bg-white rounded-xl  px-10 py-4">
          <h1 class="text-center font-bold text-2xl py-2">Berufserfahrungen</h1>

          <div class="h-full flex justify-between space-x-6 animate-in fade-in zoom-in duration-500">
            <div class="w-full grid space-y-4">

              <div class="w-full grid grid-cols-1">
                <span class="text-gray-500">Firma/Ort</span>
                <input formControlName="companyName" class="border-b-2">
              </div>


              <div class="w-full grid grid-cols-2 justify-between">
                <div class="w-full">
                  <div class="w-fit grid grid-cols-1">
                    <span class="text-gray-500">Von</span>
                    <input formControlName="workFrom" type="date" class="border-b-2">
                  </div>
                </div>

                <div class="w-full">
                  <div class="w-fit grid grid-cols-1">
                    <span class="text-gray-500">Bis</span>
                    <input formControlName="workTo" type="date" class="border-b-2">
                  </div>
                </div>
              </div>

              <div class="w-full grid grid-cols-1">
                <span class="text-gray-500">Zusätzliche Informationen: </span>
                <textarea formControlName="moreInfo" class="bg-accent-blue resize-y rounded-md border-2"></textarea>
              </div>
            </div>
          </div>

          <div [formGroup]="jobExperiencesForm" class="mt-8">
            <div formArrayName="jobExperiencesFormItems" class="space-y-8">
              <div *ngFor="let jobExperienceItem of jobExperiencesFormItems.controls; let i = index" [formGroupName]="i" class="space-y-4">

                <div class="h-full flex justify-between space-x-6 animate-in fade-in zoom-in duration-500">
                  <div class="w-full grid space-y-4">

                    <div class="w-full grid grid-cols-1">
                      <span class="text-gray-500">Firma/Ort</span>
                      <input formControlName="companyName" class="border-b-2">
                    </div>


                    <div class="w-full grid grid-cols-2 justify-between">
                      <div class="w-full">
                        <div class="w-fit grid grid-cols-1">
                          <span class="text-gray-500">Von</span>
                          <input formControlName="workFrom" type="date" class="border-b-2">
                        </div>
                      </div>

                      <div class="w-full">
                        <div class="w-fit grid grid-cols-1">
                          <span class="text-gray-500">Bis</span>
                          <input formControlName="workTo" type="date" class="border-b-2">
                        </div>
                      </div>
                    </div>

                    <div class="w-full grid grid-cols-1">
                      <span class="text-gray-500">Zusätzliche Informationen: </span>
                      <textarea formControlName="moreInfo" class="bg-accent-blue resize-y rounded-md border-2"></textarea>
                    </div>
                  </div>

                  <div class="h-full items-center py-8 px-1">
                    <svg (click)="deleteJobExperiencesInfo(i)" class="cursor-pointer" xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px" fill="#EA3323"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex justify-end py-2">
              <button class="bg-white rounded-md hover:shadow-md duration-150" (click)="addJobExperiencesInfo()">
                <img src="assets/icons/home-page/add_element-icon.svg" alt="add_icon" class="w-10 h-10 cursor-pointer">
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
